/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the navbar */
.navbar {
  background-color: #000000aa;
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the list items */
.navbar ul li {
  position: relative;
  line-height: 64px;
  display: inline;
  /* Display list items in a horizontal line */
  /* margin: 0px 20px; */
}

.navbar ul li.current {
  background-color: #ffffffaa;
  color: black;
  padding: 50px 0px;
  /* Background color for the current link */
  cursor: not-allowed;
  /* Change cursor to indicate non-clickable */
  pointer-events: none;
  /* Make it non-clickable */
}

.navbar ul li.current a {
  color: black;
}

/* Style the links */
.navbar ul li a {
  font-size: 20pt;
  padding: 0px 20px;
  color: #fff;
  /* Text color for links */
  text-decoration: none;
  /* Remove underlines from links */
}

.navbar ul li a:hover {
  background-color: #ffffffaa;
  color: black;
  height: 68px;
  padding: 50px 20px;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}

body {
  /*background image test */
  background-image: url('/resources/nimosana_darker.gif');
  background-repeat: repeat;
  background-position: center;
  background-size: 68px;
  background-position: top left;
  background-attachment: fixed;
  background-color: rgb(62, 47, 47);
  color: #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  /*auto center my stuffs*/
  margin: auto;
  max-width: auto;
  /*SCROLL LETSGO */
  overflow-x: auto;
  overflow-y: auto;
  /*text related*/
  font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  text-align: center;
  line-height: 1.69;
  padding: 68px 0px;
}