/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style the navbar */
.navbar {
    background-color: #000000aa;
    height: 68px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style the list items */
.navbar ul li {
    position: relative;
    line-height: 64px;
    display: inline;
    /* Display list items in a horizontal line */
    /* margin: 0px 20px; */
}

.navbar ul li.current {
    background-color: #ffffffaa;
    color: black;
    padding: 50px 0px;
    /* Background color for the current link */
    cursor: not-allowed;
    /* Change cursor to indicate non-clickable */
    pointer-events: none;
    /* Make it non-clickable */
}
.navbar ul li.current a {
    color: black;
}

/* Style the links */
.navbar ul li a {
    font-size: 20pt;
    padding: 0px 20px;
    color: #fff;
    /* Text color for links */
    text-decoration: none;
    /* Remove underlines from links */
}

.navbar ul li a:hover {
    background-color: #ffffffaa;
    color: black;
    height: 68px;
    padding: 50px 20px;
}

body {
    /*background image test */
    background-image: url('resources/nimosana_darker.gif');
    background-repeat: repeat;
    background-position: center;
    background-size: 68px;
    background-position: top left;
    background-attachment: fixed;
    background-color: rgb(62, 47, 47);
    color: #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /*auto center my stuffs*/
    margin: auto;
    max-width: auto;
    /*SCROLL LETSGO */
    overflow-x: auto;
    overflow-y: auto;
    /*text related*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.69;
    padding: 102px 0px;

}

h1 {
    /*Title*/
    margin: auto;
    justify-content: center;
    max-width: 1100px;
    background-image: url('resources/nimosana_darker.gif');
    background-position: 80px 175px;
    background-size: 250px;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}

h1 span {
    margin: auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-radius: 10%;
}

h2 {
    /*Week 1 header*/
    color: aqua;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week2 {
    margin: auto;
    max-width: 1100px;
    padding: 0px 50px;
    color: lightblue;
    /* background-image: url('resources/catgif.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.week2p {
    color: lightblue;
    margin-bottom: 0px;
}

h3 {
    /*Week 2 header*/
    color: rgb(255, 145, 0);
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h3 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week3 {
    margin: auto;
    max-width: 1100px;
    padding: 0px 50px;
}

.week3p {
    color: burlywood;
}

h4 {
    /*Week 3 header*/
    color: rgb(255, 0, 0);
    ;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h4 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week4 {
    margin: auto;
    max-width: 1100px;
    padding: 0px 50px;
}

.week4p {
    color: rgb(255, 150, 150);
}

h5 {
    /*Week 4 header*/
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h5 span {
    color: #e5ff00;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

h5 {
    /*Week 4 header*/
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h5 span {
    color: #e5ff00;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week5 {
    margin: auto;
    max-width: 1100px;
    padding: 0px 50px;
}

.week5p {
    color: palegreen;
}

h6 {
    /*Week 4 header*/
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h6 span {
    color: rgb(255, 125, 210);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week6 {
    margin: auto;
    max-width: 1100px;
    padding: 0px 50px;
}

.week6p {
    color: #ffc8ff;
}

.h7 {
    /*image cred header*/
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.h7 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-radius: 10%;
}


.em2 {
    font-style: italic;
    color: aqua;
}

.em3 {
    color: rgb(255, 145, 0);
}

.em4 {
    color: #ff0000;
}

.em5 {
    color: #e5ff00;
}

.em6 {
    color: rgb(255, 125, 210);
}

p {
    /*Any paragraph*/
    margin-top: 0px;
    font-size: 17px;
    color: rgb(255, 150, 150);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    /*set round border*/
    border-radius: 1%;
    caret-color: red;
}

img {
    margin: auto;
    justify-self: auto;
}

a.week4:link {
    /* default link color*/
    color: rgb(255, 150, 0);
}

a.week4:hover {
    /* mouse on link color*/
    color: rgb(255, 0, 0);
}

a.week4:active {
    /* on click color*/
    color: rgb(255, 0, 0);
}

a.week4:visited {
    /* link already been clicked color*/
    color: rgb(255, 0, 0);
}

a.week5:link {
    color: chartreuse;
}

a.week5:active {
    color: chartreuse;
}

a.week5:hover {
    color: #e5ff00;
}

a.week5:visited {
    color: #e5ff00;
}

a.week6:link {
    color: rgb(255, 0, 255);
}

a.week6:active {
    color: rgb(255, 0, 255);
}

a.week6:hover {
    color: rgb(255, 125, 210);
}

a.week6:visited {
    color: rgb(255, 125, 210);
}