/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
html {
    scroll-behavior: smooth;
}

body {
    /*verrynice*/
    background-color: rgb(62, 47, 47);
    color: rgb(249, 174, 174);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /*auto center my stuffs*/
    margin: 0 auto;
    max-width: 1000px;
    /*SCROLL LETSGO */
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 25px 25px;

}

h1 {
    font-size: 50px;
    margin-top: -20px;
    margin-bottom: 20px;
    /*
    padding: 0px;*/
}

p {
    color: rgb(255, 176, 87);
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

img {
    margin: auto;
    justify-self: auto;
}

a:link {
    /* default link color*/
    color: rgb(255, 255, 150);
}

a:hover {
    /* mouse on link color*/
    color: rgb(211, 60, 0);
}

a:active {
    /* on click color*/
    color: rgb(255, 0, 0);
}

a:visited {
    /* link already been clicked color*/
    color: rgb(255, 150, 60);
}