/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
html {
    scroll-behavior: smooth;
}

body {
    /*background image test */
    background-image: url('resources/3dPrinter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*scrollable or not*/
    /*verrynice*/
    background-color: rgb(62, 47, 47);
    color: #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /*auto center my stuffs*/
    margin: 0 auto;
    max-width: 900px;
    /*SCROLL LETSGO */
    overflow-x: auto;
    overflow-y: auto;
    /*text related*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.69;
    padding: 50px 25px;

}

h1 {
    /*Title*/
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}

h1 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-radius: 10%;
}

h2 {
    /*Week 1 header*/
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week1 {
    background-image: url('resources/catgif.gif');
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.week1p {
    color: #ffffff;
    margin-bottom: 0px;
}

h3 {
    /*Week 2 header*/
    color: rgb(255, 145, 0);
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h3 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week2p {
    color: burlywood;
}

h4 {
    /*Week 3 header*/
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -0.5px;
}

h4 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.week3p {
    color: rgb(255, 150, 150);
}

h5 {
    /*image cred header*/
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}

h5 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 7px;
    border-radius: 10%;
}

em {
    color: rgb(255, 145, 0);
}

em2 {
    font-style: italic;
    color: aqua;
}

.em3 {
    color: #ff0000;
}

p {
    /*Any paragraph*/
    margin-top: 0px;
    font-size: 17px;
    color: rgb(255, 150, 150);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    /*set round border*/
    border-radius: 1%;
    caret-color: red;
}

img {
    margin: auto;
    justify-self: auto;
}

a:link {
    /* default link color*/
    color: rgb(255, 150, 0);
}

a:hover {
    /* mouse on link color*/
    color: rgb(211, 60, 0);
}

a:active {
    /* on click color*/
    color: rgb(255, 0, 0);
}

a:visited {
    /* link already been clicked color*/
    color: rgb(255, 150, 60);
}